@page "/"

<PageTitle>GoodHamburger</PageTitle>

<section class="order-entry">
    <div class="order-entry__panel">
        <img class="order-entry__banner"
             src="images/banner_sem_logo_gemini.png"
             alt="Banner GoodHamburger" />

        <a class="order-entry__button" href="/orders">Fa&ccedil;a seu pedido</a>
    </div>
</section>
